.max-width-footer {
    width: 100%;
    padding: 15px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    background-color: var(--color-ligero);
}
.footer{
    width: 1000px !important;
    background-color: #fff;
}