<nav class="navbar navbar-expand navbar-light bg-info">
        <a class="navbar-brand" href="#">Elite Keys</a>
    <div class="collapse navbar-collapse  justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cualidades" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>